.container-fluid {
  flex-direction: column;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}

#heart {
  width: 10%;
  height: 10%;
}

.modal-content {
  display: flex;
  background-color: #ff017813;
  width: 211vh;
  height: 96vh;
  font-size: 40px;
}

.modal-dialog {
  margin: 1%;
}

.carousel {
  width: 90%;
  height: 100%;
}

.carousel .carousel-item {
  width: 400px;
  height: 300px;
}

.close {
  color: white;
  font-size: 50px;
}

/* Smartphones (portrait & landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  .modal-content {

    font-size: 20px;
  }
}