.container-fluid {
  flex-direction: column;
  display: flex;
  height: 100%;
  align-items: center;
  width: 100%;
}



.modal-content {
  display: flex;
  background-color: #ff017813;
  width: 211vh;
  height: 96vh;
  font-size: 40px;
}

.modal-overlay {

  background-color: #99ffeb;
}

.card-content {
  color: black;
}

.modal-dialog {
  margin: 1%;
}

.carousel {
  width: 90%;
  height: 100%;
}

.carousel .carousel-item {
  width: 400px;
  height: 300px;
}

.close {
  color: white;
  font-size: 50px;
}


.fixed-action-btn {
  display: none;
}

#carouselDescription {
  border-radius: 5px;
  background-color: rgba(0, 255, 255, 0.308);
  margin: 31%;
}

#infoContact {
  display: none;
}

.card-image {
  height: 147px;
  overflow: hidden;
}

#modal1 {
  overflow: hidden;
}

@media screen and (max-width: 480px) {

  #carouselDescription {
    margin: 1% 0 31% 31%;
    padding: 1%;
  }

  .carousel-item {
    margin-top: 10%;
  }

  /* Define mobile styles - Mobile First */
}

.fotosBio {
  height: 300px;
  overflow: hidden;
}