body {
  background-image: url(./imgs/fondoPortafolio.png);
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.foto {
  margin-top: 100px;
}



.carousel .carousel-item {
  width: 400px;
  height: 300px;
}


#carruselContent {
  display: none;
}

#contactContent {
  display: none;
}

.contacto {
  margin: 4%;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    "Helvetica Neue",
    sans-serif;
}

#contactoContent {
  padding: 0;
  margin-bottom: 21%;

}

#carruselBio {
  display: none;
}

.bio {
  overflow: visible;
}

.fotosBio {
  height: 300px;
  overflow: hidden;
}

.logosContacto {
  font-size: 40px;
  color: #34b68d;
  margin-top: 8%;
}

.linksAction {
  padding: 8% !important;
  color: #34b68d !important;
}

.close {
  font-size: 15px;
}

.swipe {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {

  .carousel .carousel-item {
    width: 300px;

  }

  .fotosBio {
    height: 200px;
    overflow: hidden !important;
  }

  #menu {
    position: fixed;
  }

  .swipe {
    display: block;
  }
}